In [1]:
%load_ext sql

In [2]:
%sql sqlite:///data/basic_examples.db --alias sqlite

In [3]:
%sql duckdb:///data/example_duck.db --alias duckdb

In [4]:
%%sql sqlite
SELECT * FROM sqlite_master WHERE type='table'

 * duckdb:///data/example_duck.db
   sqlite:///data/basic_examples.db
(duckdb.duckdb.ParserException) Parser Error: syntax error at or near "sqlite"
[SQL: sqlite
SELECT * FROM sqlite_master WHERE type='table']
(Background on this error at: https://sqlalche.me/e/20/f405)

In [5]:
%%sql duckdb
DROP TABLE IF EXISTS dragon;
DROP TABLE IF EXISTS dish;    
DROP TABLE IF EXISTS scene;

CREATE TABLE dragon (
    name VARCHAR PRIMARY KEY,
    year INTEGER CHECK (year >= 2000),
    cute INTEGER
);

CREATE TABLE dish (
    name VARCHAR PRIMARY KEY,
    type VARCHAR,
    cost INTEGER CHECK (cost >= 0)
);

CREATE TABLE scene (
    id INTEGER PRIMARY KEY,
    biome VARCHAR NOT NULL,
    city VARCHAR NOT NULL,
    visitors INTEGER CHECK (visitors >= 0),
    created_at DATETIME DEFAULT current_date()
);

 * duckdb:///data/example_duck.db
   sqlite:///data/basic_examples.db
(duckdb.duckdb.ParserException) Parser Error: syntax error at or near "duckdb"
[SQL: duckdb
DROP TABLE IF EXISTS dragon;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [6]:
import pandas as pd
df = pd.read_sql("select * from dragon", "sqlite:///data/basic_examples.db")
df

       name  year  cute
0    hiccup  2010    10
1    drogon  2011  -100
2  dragon 2  2019     0

In [7]:
%%sql duckdb
INSERT INTO dragon (SELECT * FROM df);

 * duckdb:///data/example_duck.db
   sqlite:///data/basic_examples.db
(duckdb.duckdb.ParserException) Parser Error: syntax error at or near "duckdb"
[SQL: duckdb
INSERT INTO dragon (SELECT * FROM df);]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
import pandas as pd
df = pd.read_sql("select * from dish", "sqlite:///data/basic_examples.db")
df

In [ ]:
%%sql duckdb
INSERT INTO dish (SELECT * FROM df);

In [ ]:
import pandas as pd
df = pd.read_sql("select * from scene", "sqlite:///data/basic_examples.db")
df

In [ ]:
%%sql duckdb
INSERT INTO scene (SELECT * FROM df);

In [ ]:
%%sql 
COMMIT;
CHECKPOINT;